.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  box-sizing: border-box;
  background: url(https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&w=400);
  background-size: cover;
}
.form {
  background: var(--background);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.center {
  text-align: center;
}
.title {
  font-size: 1.875rem;
  font-weight: bold;
}
.logo_img {
  width: 4rem;
  height: 4rem;
}
.sub_title {
  color: var(--primary);
}
.input_box {
  margin-bottom: 1rem;
}
.input_space {
  margin-bottom: 0.5rem;
}
.underline {
  text-decoration: underline;
}
.forgot_container {
  display: flex;
  align-items: center;
}
.forgot {
  margin-left: auto;
  display: inline-block;
  font-size: 0.875rem;
}

.button {
  width: 100%;
}

.pass {
  text-align: center;
  font-size: 0.875rem;
}
