*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Search field**/
.main {
  margin-top: 5rem;
}
.search-field:focus-within {
  border: 0.01rem solid #2557a7;
  border-radius: 0.5rem;
}
.search-field {
  display: flex;
}

.search-button {
  cursor: pointer;
  background: none;
  font-weight: 700;
  /* font-size: 1.4rem; */
  letter-spacing: 0;
  line-height: 1.125rem;
  padding: 0.75rem 1rem;
  display: block;
  background-color: var(--accent);
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  min-width: 94px;
  margin: 0.8rem 0.8rem 0.8rem 0;
}

.form-container {
  /* display: flex;
  justify-content: space-between; */
  width: 60rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #949494;
  /* border-color: ; */
  box-shadow: 0 0.5rem 1rem rgba(103, 85, 85, 0.12),
    0 0.25rem 0.5rem rgba(45, 45, 45, 0.16), 0 0 0.125rem rgba(45, 45, 45, 0.2);
}
.search .form {
  display: flex;
  justify-content: space-between;
}

.search .input,
.select {
  color: #2d2d2d;
  padding: 0.5rem;
  width: 25rem;
  border: none;
  /* font-size: 1.6rem; */
  outline: none;
  margin-bottom: 0;
  background: none;
}
.search input:focus {
  border: none;
  outline: none;
}

/******/
.job-service-selector {
  display: flex;
  justify-content: center;
  border-bottom-width: 0.0625rem;
  border-bottom-color: #e4e2e0;
  border-bottom-style: solid;
}
.job-service-selector ul {
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 800;
}
.job-service-selector ul a:hover {
  border-bottom: 0.1rem solid #2557a7;
}

.job-service-selector ul a {
  text-decoration: none;
  color: #2d2d2d;
  padding: 1.5rem 2rem;
  display: inline-block;
}
.job-card {
  padding: 2rem;
  border: 0.1rem solid #e4e2e0;
  border-radius: 0.5rem;
  min-height: 20rem;
  position: relative;
  margin-bottom: 1rem;
  width: 32%;
  background-color: #f6f7fa;
  box-shadow: 0 0.5rem 1rem rgba(103, 85, 85, 0.12),
    0 0.25rem 0.5rem rgba(45, 45, 45, 0.16), 0 0 0.125rem rgba(45, 45, 45, 0.2);
}
section.jobs {
  /* display: flex; */
  /* flex-direction: row; */
  /* padding-top: 2rem; */
  width: 90%;
  margin: 0 auto;
  position: relative;
  /* background-color: #fff; */
}

.job-listings {
  /* padding-right: 3rem;
   */
  display: flex;
  flex-wrap: wrap;
  /* left: 50%; */
  gap: 1rem;
  justify-content: center;
}

.job-card .title {
  margin-top: 2rem;
}
.job-location,
.company-name {
  color: #000;
  /* line-height: 1.35; */
  padding-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  /* margin-top: 5rem; */
  margin-bottom: 0.5rem;
}
.job-salary {
  font-size: 1rem;
  color: #000;
  /* margin-top: 1rem; */
}
.job-salary .amount {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 4;
  font-size: 1rem;
}

.job-mode {
  /* margin-left: 1rem; */
  padding: 0.3rem;

  position: absolute;
  right: 1rem;
  top: 2rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.job-mode.active {
  background-color: #079718;
  color: #fff;
}
.job-mode.inactive {
  background-color: #f60b0b;
  color: #fff;
}
.job-short-description {
  margin-top: 0px;
  margin-bottom: 2rem;
  color: #000;
  font-size: 1rem;
}
.date-posted {
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  right: 2rem;
}
.job-title-box {
  border-bottom: 2px solid #00000014;
  box-shadow: 0 2px 4px #00000014;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  padding: 1.6rem;
}
.job-description .company-name {
  color: rgb(37, 87, 167);
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
}
.job-description .salary {
  color: #2d2d2d;
}
.pagination {
  width: 20rem;
  margin: 0 auto;
}
.pagination button {
  width: 6rem;
}
.pagination button:disabled,
button[disabled] {
  opacity: 0.5; /* Dim the button */
  cursor: not-allowed;
}

@media screen and (max-width: 767px) {
  .form-container {
    width: 100%;
    margin: 1rem;
    box-sizing: border-box;
  }
  .search {
    padding: 2rem;
  }
  .search-field {
    width: 100%;
  }
  .search span {
    display: block;
  }
  .search input {
    width: 70%;
    margin-bottom: 0;
  }
  .search .form {
    display: block;
    /* justify-content: space-between; */
    /* flex-direction: column; */
  }
  .search-button-box {
    padding: 0 1rem;
  }
  .search-button {
    width: 100%;
  }
  .job-listings {
    width: 100%;
    padding: 0;
    /* display: none; */
  }

  section.jobs {
    width: 100%;
    /* padding: 2rem; */
  }
  .job-card {
    width: 46%;
  }
}
@media screen and (max-width: 560px) {
  .job-card {
    width: 90%;
  }
}
