.hero {
  margin-top: 4rem;
  /* background-color: var(--background); */
  background-color: hsl(204, 45%, 98%);
  color: var(--text);
  padding: 3rem 20px;
  text-align: center;
  height: 70dvh;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.h1 {
  font-size: (1.5rem, 3vw, 3rem);
  font-size: clamp(2.25rem, 0.5vw + 1rem, 4rem);
  font-weight: 700;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: var(--accent);
}
.h3 {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  font-weight: 400;
  letter-spacing: -0.05em;
}
.sub_title {
  color: var(--accent);
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  line-height: 1.75;
  margin: 1rem 0 2rem 0;
}

.top {
  margin: 0 auto;
}

.btns {
  margin-top: 2em !important;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--accent);
  color: var(--background);
  transition: all 0.5s ease-in;
}
.btns:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
/* apply btns */
.apply_btns {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--accent);
  color: var(--background);
  border: 1px solid transparent;
  transition: all 0.5s ease-in;
}
.apply_btns:hover {
  opacity: 0.8;
  transition: all 0.5s ease-in;
}

/* first */
.first {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-align: center;
  color: var(--text);
}
.first .wrapper {
  margin: 0 auto;
  padding: 2rem 1rem;
}
.first h2 {
  font-size: (1.5rem, 3vw, 3rem);
  font-size: clamp(2.25rem, 0.5vw + 1rem, 4rem);
  padding: 2rem 0;
  color: var(--accent);
}
.first p {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  padding: 0.5rem 0;
}
.features {
  font-size: (1.5rem, 3vw, 3rem);
  font-size: clamp(2.25rem, 0.5vw + 1rem, 4rem);
  padding: 2rem 0;
  text-align: center;
  color: var(--accent);
}

.card_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  padding: 20px;
  flex-basis: 200px;
  flex-grow: 1;
  transition: all 0.5s ease-in;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
}

.card h3 {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  padding: 0.5rem 0;
  color: var(--accent);
}
.card p {
  font-size: clamp(0.75rem, 0.5vw + 1rem, 1rem);
  padding: 0.5rem 0;
}

.second {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.full_width {
  width: 100%;
  background-color: #f7fafc;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.second_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.flex_container {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}
.flex_container h2 {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: var(--accent);
}
