/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --text: #0b0d15;
  --background: #f6f7fa;
  --secondary: #233055;
  --accent: #233055;
}

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font-family and font-size */
body {
  background: var(--background);
  color: var(--text);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Style links */
a {
  color: var(--accent);
  text-decoration: none;
}

/* Style lists */
ul,
ol {
  list-style: none;
}

/* Style buttons */
button,
input[type="submit"] {
  background-color: var(--accent);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover,
input[type="submit"] {
  opacity: 0.8;
  color: var(--background);
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: var(--accent);
}
select,
option {
  background-color: #fff;
}
