/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font-family and font-size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style links */
a {
  color: #007bff;
  text-decoration: none;
}

/* Style lists */
ul,
ol {
  list-style: none;
}

/* Style buttons */
button,
input[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Style form inputs */
input[type='text'],
input[type='email'],
input[type='password'],
/* input[type='email'], */
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
