.main {
  margin-top: 7rem !important;
  color: var(--text);
  /* max-width: 37rem; */
  padding: 1rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.h1 {
  font-size: 1.875rem;
  font-weight: bold;
}
.p {
  text-align: center;
}
.item {
  margin: 0.5rem 0;
}
.button {
  width: 100%;
  margin-bottom: 1rem;
}

.label_radio {
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.label {
  margin-bottom: 1rem;
  display: inline-block;
  /* padding: 1rem; */
}
.radio_box {
  display: flex;
  margin: 0.5rem 0;
  /* padding: 10rem; */
  /* flex-direction: row; */
}
