*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  min-height: 3.25rem;
  background-color: #ffffff;
  justify-content: space-between;
  border-top-width: 0.0625rem;
  border-top-color: #e4e2e0;
  border-top-style: solid;
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.footer {
  width: 80%;
  margin: 0 auto;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
footer ul a {
  text-decoration: none;
}
footer ul li {
  margin-left: 2.4rem;
}
footer ul .copy {
  align-self: flex-end;

  /* margin-left: auto;ss */
}
